.space-after {
    margin-bottom: 10px;
}

.space-before {
    margin-top: 10px;
}

.large-space-after {
    margin-bottom: 20px;
}

.large-space-before {
    margin-top: 20px;
}

.center {text-align: center}

.clickable {
    cursor: pointer;
    /*text-decoration: underline;*/
    color: #007fb6;
}

ul {
    list-style: none;
}

.clickable:hover,
.clickable:focus {
    color: #00638d;
    text-decoration: underline;
}

#imagesList {
    margin:0;
}

.imgCon {
    display: inline-block;
    margin-right: 8px;
    text-align: center;
    line-height: 1.3em;
    background-color: #DDD;
    color: #DDD;
    padding: 5px;
    margin-bottom: 8px;
}

.imgCon img {
    max-height:150px;
}

#taxonomyFacet .level0 {
    margin-left: 0;
}

#taxonomyFacet .level1 {
    margin-left: 4px;
}

#taxonomyFacet .level2 {
    margin-left: 8px;
}

#taxonomyFacet .level3 {
    margin-left: 12px;
}

#taxonomyFacet .level4 {
    margin-left: 16px;
}

#taxonomyFacet .level5 {
    margin-left: 20px;
}

#taxonomyFacet .level6 {
    margin-left: 24px;
}

#taxonomyFacet .level7 {
    margin-left: 28px;
}

#taxonomyFacet .level8 {
    margin-left: 32px;
}

